*{ overflow:auto} 

body 
{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif; 
    color:black;
}
div.contenu 
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px 10px rgba(133, 133, 123, 0.938); 
    margin: 10px 2% 10px 2%; 
    padding: 3% 5%; 
    overflow: visible;
}  
h1 
{
    font-size: 35px;
    text-align:center;
    margin: 30px 10px 30px 10px;
}  
div.separateur
{
    width: 200px;
    height: 5px;
    background-color: black;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 10px;               
}

div.image
{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
div.image img
{   
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    min-height: 50px;
}

h4
{
    text-align:left;
    font-size: 30px;
}
p
{
    color:black;
    font-size: 25px;
    margin-left: 40px; 
}

/* --- AJOUT : colonnes + style des liens recettes --- */
#recettes-container {
    columns: 2;
    column-gap: 50px;
}

.categorie {
    break-inside: avoid;
    margin-bottom: 20px;
}

.liste-recettes a {
    display: block;
    text-decoration: none;
    color: inherit;
}
/* --- FIN AJOUT --- */


/* Espacement du titre a premiere recette ha et entre les recettes p*/
.categorie h4 {
    margin-bottom: 20px;
}

.liste-recettes p {
    margin-top: 0;
    margin-bottom: 10px;
}

/*Style ordi*************************************************************************************************/
@media only screen and (min-width: 768px)
{
    div.contenu 
    {
        max-width: 700px;
        background-color: white;
        box-shadow: 0px 0px 40px 10px rgba(133, 133, 123, 0.938); 
        margin: 60px 9% 60px 9%; 
        padding: 3% 5%; 
        overflow: visible;
    }  
       
    div.image
    {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    div.image img
    {   
        display: block;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        min-height: 50px; 
    } 

    h4
    {
        text-align:left;
        font-size: 20px;
    }
    p
    {
        color:black;
        font-size: 15px;
        margin-left: 40px; 
    }
    div.colonnesOverflow{overflow: auto;}
    
         
    @media only screen and (min-width: 1000px)
    {
        div.contenu 
        {
            margin: 60px auto 60px auto; 
        }  
    } 
}

/* Force un fond blanc sur themes noir*/
:root {
    color-scheme: light only;
}


/* Force index une colone sur petit ecran*/
@media only screen and (max-width: 767px)
{
    #recettes-container {
        columns: 1;
    }
}